<div class="global-wrapper charl" ng-init="getCharacterData()">

    <h5 class="page-header global-page-header center">
        {{"Character" | translate}}
        <a ng-click="createCharacterDialog()" ng-show="hideLoader && !currentChar" ng-if="userInfo.type != 'player'" class="right btn-floating waves-effect waves-light red" style="position: absolute;right: 10px;">
            <i class="material-icons">add</i>  New Char
        </a>
    </h5>

    <!--<h4 class="page-header global-page-header center" ng-show="hideLoader">-->
        <!-- -->
    <!--</h4>-->
    <div class="panel global-panel-default" ng-show="hideLoader && !currentChar" ng-if="userInfo.type != 'player'">

        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header">
                    Players' chars.
                </div>
                <div class="collapsible-body">
                    <ul class="collection">
                        <li class="collection-item" ng-repeat="char in charList.players">
                            <a ng-href="/#!/charlist{{char.id}}">{{char.char_name}} ({{char.username}})</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    NPCs.
                </div>
                <div class="collapsible-body">
                    <ul class="collection">
                        <li class="collection-item" ng-repeat="char in charList.npc">
                            <a ng-href="/#!/charlist{{char.id}}">{{char.char_name}}</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <script>
            $('.collapsible').collapsible({
                //accordion: false
            });
        </script>

    </div>
    <div class="panel global-panel-default" ng-show="hideLoader">
        <char-list char="currentChar" schema="currentSchema"></char-list>
    </div>

</div>


