<div class="global-wrapper" ng-init="getCharacterData()">

    <h4 class="page-header global-page-header center">
        {{"Character" | translate}}
    </h4>

    <!--<h4 class="page-header global-page-header center" ng-show="hideLoader">-->
        <!-- -->
    <!--</h4>-->
    <div class="panel global-panel-default" ng-show="hideLoader && !currentChar" ng-if="userInfo.type != 'player'">

        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header">
                    Players' chars.
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12">
                            <ul>
                                <li ng-repeat="char in charList.players">
                                    <a ng-href="/#!/charlist{{char.id}}">{{char.char_name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    NPCs.
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12">
                            <ul>
                                <li ng-repeat="char in charList.npc">
                                    <a ng-href="/#!/charlist{{char.id}}">{{char.char_name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <script>
            $('.collapsible').collapsible({
                //accordion: false
            });
        </script>
    </div>

    <div class="panel global-panel-default" ng-show="hideLoader && currentChar" ng-if="currentSchema">
        <char-list char="currentChar"></char-list>
    </div>

</div>
