@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.login-container {
    height: 100%;
    position: fixed;
    width: 100%;
}
nav {
    background-color: #000;
}
nav .button-collapse {
    margin-left: 5px;
}
nav .button-collapse i {
    font-size: 1.7rem;
}
.lm_true {
    display: block;
    opacity: 1;
}
.dr-left {
    top: 56px !important;
    width: 200px !important;
}
.global-wrapper {
    position: absolute;
    top: 56px;
    height: calc(100% - 106px);
    padding: 0 10px;
    width: 100%;
}

.vtm_attributes {
    padding: 0 4px;
}
.vtm_attributes .col {
    padding: 0;
    border-right: 1px solid #000;
    min-height: 500px;
}
.vtm_attributes .col:last-child {
    border: none;
}
.vtm_attributes p {
    margin: 0;
    padding: 2px 0;
}
.vtm_attributes .main_info {
    font-weight: 900;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 3px;
}
.vtm_attributes .attr-space {
    padding: 5px 0;
    height: 30px;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 120%;
}
.vtm_attributes .attr-group {
    padding: 5px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    float: left;
    width: 100%;
    text-align: center;
}
.vtm_attributes .attr {
    width: 100%;
    float: left;
    padding-left: 2px;

}
.vtm_attributes .attr-stat {
    float: right;
    margin-right: 2px;
    margin-top: 2px;
    border-radius: 50px;
    /*border: 1px solid #000;*/
    /*width: 18px;*/
    /*height: 18px;*/
    line-height: 17px;
    text-align: center;
}
.vtm_attributes .attr-name {
    float: left;
    max-width: 80%;
}