<div id="page-wrapper">
    <nav>
        <div class="nav-wrapper">
            <div class="left">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="slide-out" class="side-nav">
                    <li>
                        <div class="userView">
                            <div class="background">
                                <img src="/files/images/sidenavbg.jpg">
                            </div>
                            <a href="#!name">
                                <span class="white-text name">{{userInfo.username}}</span>
                            </a>
                            <!--<a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>-->
                        </div>
                    </li>
                    <li>
                        <a class="waves-effect" ng-click='menuLink("/")' ng-class="{active: activeTab=='/'}">
                            <img src="/files/images/icons/home.svg" alt="home"> {{"Home" | translate}}
                        </a>
                    </li>
                    <!--<li>-->
                    <!--<a ng-click='menuLink("/games")' ng-class="{active: activeTab=='/games'}">-->
                    <!--<i class="fa fa-globe fa-fw"></i> {{"Games" | translate}}-->
                    <!--</a>-->
                    <!--</li>-->
                    <li><div class="divider"></div></li>
                    <li><a class="subheader">{{"Character" | translate}}</a></li>
                    <li ng-if="userInfo.server_info.schema_id">
                        <a ng-if="userInfo.type != 'player'" class="waves-effect" ng-click='menuLink("/charlist")' ng-class="{active: activeTab=='/charlist'}">
                            <img src="/files/images/icons/charlists.svg" alt="charlist"> {{"Lists" | translate}}
                        </a>
                        <a ng-if="userInfo.type == 'player'" class="waves-effect" ng-click='menuLink("/charlist")' ng-class="{active: activeTab=='/charlist'}">
                            <img src="/files/images/icons/charlist.svg" alt="charlist"> {{"List" | translate}}
                        </a>
                    </li>
                    <li ng-if="userInfo.server_info.schema_id">
                        <a class="waves-effect" ng-click='menuLink("/bio")' ng-class="{active: activeTab=='/bio'}">
                            <img src="/files/images/icons/bio.svg" alt="bio"> {{"Bio" | translate}}
                        </a>
                    </li>
                    <li><div class="divider"></div></li>
                    <li><a class="subheader">{{"World" | translate}}</a></li>
                    <li ng-if="userInfo.server_info.schema_id">
                        <a class="waves-effect" ng-click='menuLink("/actions")' ng-class="{active: activeTab=='/actions'}">
                            <img src="/files/images/icons/actions.svg" alt="actions"> {{"Actions" | translate}}
                        </a>
                    </li>
                    <li><div class="divider"></div></li>
                    <li><a class="subheader">{{"Profile" | translate}}</a></li>
                    <li ng-if="userInfo.server_info.schema_id">
                        <a class="waves-effect"  href="/#!/" ng-click="logout()">
                            <img src="/files/images/icons/logout.svg" alt="logout"> {{"LOGOUT" | translate}}
                        </a>
                    </li>
                </ul>
                <!--<a href="" data-activates="mobile-demo" class="button-collapse dropdown-button" ng-click="toggleLeftMenu()">-->
                <!--<i class="fa fa-navicon"></i>-->
                <!--</a>-->
                <!--<ul class="dropdown-content dr-left menu lm_{{showLM}}" id="mobile-demo">-->
                <!--<li>-->
                <!--<a ng-click='menuLink("/")' ng-class="{active: activeTab=='/'}">-->
                <!--<i class="fa fa-home fa-fw"></i> {{"Home" | translate}}-->
                <!--</a>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<a ng-click='menuLink("/games")' ng-class="{active: activeTab=='/games'}">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fa fa-globe fa-fw"></i> {{"Games" | translate}}&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--<li ng-if="userInfo.server_info.schema_id">-->
                <!--<a ng-click='menuLink("/charlist")' ng-class="{active: activeTab=='/charlist'}">-->
                <!--<i class="fa fa-address-card fa-fw"></i> {{"Charlist" | translate}}-->
                <!--</a>-->
                <!--</li>-->
                <!--<li ng-if="userInfo.server_info.schema_id">-->
                <!--<a ng-click='menuLink("/bio")' ng-class="{active: activeTab=='/bio'}">-->
                <!--<i class="fa fa-book fa-fw"></i> {{"Bio" | translate}}-->
                <!--</a>-->
                <!--</li>-->
                <!--<li ng-if="userInfo.server_info.schema_id">-->
                <!--<a ng-click='menuLink("/actions")' ng-class="{active: activeTab=='/actions'}">-->
                <!--<i class="fa fa-bolt fa-fw"></i> {{"Actions" | translate}}-->
                <!--</a>-->
                <!--</li>-->
                <!--</ul>-->
            </div>
            <ul class="right">
                <li>
                    <a href="">
                        <i class="fa fa-user fa-fw"></i> {{userInfo.username}}
                    </a>
                </li>
                <!--<li>-->
                    <!--<a href="/#!/" ng-click="logout()">-->
                        <!--{{"LOGOUT" | translate}} <i class="fa fa-sign-out"></i>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
    </nav>

    <div ng-view ng-click="toggleLeftMenu(false)" id="main"></div>

    <div class="pre-loader global-loader global-wrapper center valign-wrapper" ng-show="!hideLoader">
        <i class="fa fa-cog fa-spin fa-3x pre-loader  valign center-block"></i>
    </div>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <a class="copyr" href="https://www.facebook.com/msarukhanov"> © 2017 @mmalkav </a>
                <a class="right" href="https://www.facebook.com/tabletopbymmalkav/">
                    <i class="fa fa-twitter-square"></i>
                </a>
                <a class="right" href="https://www.facebook.com/tabletopbymmalkav/">
                    <i class="fa fa-facebook-official"></i>
                </a>
            </div>
        </div>
    </footer>

</div>


<script>
    $('.collapsible').collapsible({
        accordion: false
    });
    $(".button-collapse").sideNav({
        menuWidth: 200, // Default is 300
        edge: 'left', // Choose the horizontal origin
        closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
        draggable: true // Choose whether you can drag to open on touch screens
    });
</script>