<div class="global-wrapper" ng-init="getCharacterData()">
    <h4 class="page-header global-page-header center" ng-show="!userInfo.char_info.length">
        {{userInfo.username}}
        <!--{{"Character" | translate}}-->
    </h4>

    <div class="panel global-panel-default">
        <div class="panel-body global-panel-body" ng-show="hideLoader">
            <ul class="collapsible" data-collapsible="expandable" ng-show="!userInfo.char_info.length">
                <li ng-show="userInfo.server_info.schema_id">
                    <div class="collapsible-header active">
                        <i class="material-icons">language</i> Current Game.
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col offset-s1 s4 bold">{{"Title" | translate}}</div>
                            <div class="col s6">{{userInfo.server_info.name}}</div>
                        </div>
                    </div>
                </li>
                <li ng-show="userInfo.char_info.char_id">
                    <div class="collapsible-header active">
                        <i class="material-icons">assignment</i> Current Character.
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col offset-s1 s4 bold">{{"Name" | translate}}</div>
                            <div class="col s6">{{userInfo.char_info.char_name}}</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">language</i> Available Games.
                    </div>
                    <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet.</span>
                        <span>Lorem ipsum dolor sit amet.</span>
                        <span>Lorem ipsum dolor sit amet.</span>
                    </div>
                </li>
                <!--<li>-->
                    <!--<div class="collapsible-header">-->
                        <!--<i class="material-icons">people</i> Party (coming soon)-->
                    <!--</div>-->
                    <!--<div class="collapsible-body">-->
                        <!--<span>Shepard</span>, <span>Alice</span>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>

<script>
    $('.collapsible').collapsible({
        //accordion: false
    });
</script>
