<div class="global-wrapper bio" ng-init="getCharacterBio()">
    <h4 class="page-header global-page-header center">{{"BIO" | translate}}</h4>

    <div class="panel global-panel-default">
        <div class="row">
            <div class="col s12">
                <textarea ng-model="bio"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <a ng-show="isNew" ng-click="saveCharacterBio()" class="btn waves-effect waves-light red">
                    Save
                </a>
                <a ng-show="!isNew" ng-click="updateCharacterBio()" class="btn waves-effect waves-light red">
                    Save
                </a>
            </div>
        </div>
    </div>
    <!--<div class="pre-loader global-loader global-wrapper center valign-wrapper" ng-show="!hideLoader">-->
    <!--<i class="fa fa-cog fa-spin fa-3x pre-loader  valign center-block"></i>-->
    <!--</div>-->
</div>

<div id="modalNewBio" class="modal bottom-sheet mainform">
    <a class="close-btn-m modal-close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </a>
    <div class="modal-content">
        <h4>Creating Character</h4>
        <h5>Bio</h5>
        <form class="col s12" name="vtm_main_form">
            <div class="row">
                <div class="input-field col s12">
                    And finally give your character unique and beautiful biography.
                </div>
            </div>
            <div class="modal-footer center">
                <button class="modal-action modal-close waves-effect waves-green btn-flat btn-modal-m">
                    Close
                </button>
            </div>
        </form>
    </div>
</div>